h1 {
  text-align: center;
  margin-top: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  width: 250px;
  padding: 15px;
}
