/* login.component.scss */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  

  /* mat-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    
  } */
}

.main{
  color: white;
  background-color:bisque;
  width: 600px;
  height: 500px;
}

.full-width {
  width: 100%;
}

.remember-me {
  margin: 16px 0;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  
}