/* login.component.scss */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #024873;
}

.main {
  background-color: white;
  width: 600px;
  height: 450px;

  /* Centraliza o conteúdo no meio da área */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center; /* centraliza horizontalmente */

  color: black;
  border-radius: 10px;
}

mat-card-title {
  font-size: 23px;
  font-weight: 500;
  color: #000;
  margin-top: -20px;
  margin-bottom: 25px;
}

.full-width {
  width: 100%;
}

.remember-me {
  margin: 8px 0px;
  margin-top: -5px;
}

/* Fotgot password and Register new count */
mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}