.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 360px;
  padding: 20px;
  text-align: center;
}

.full {
  width: 100%;
}

h2{
  margin-bottom: 10px;

}