/* app.css */
:root {
  --app-padding: 16px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
}

.app-main {
  padding: var(--app-padding);
  min-height: calc(100vh - 64px); /* ajusta para toolbar */
  background: #f5f5f5;
}
