h2{
  text-align: center;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  width: 400px;
  padding: 20px;
}

.full {
  width: 100%;
}
