h1 {
  text-align: center;
  margin-top: 20px;
}

.cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}



.dashboard-container {
  min-height: calc(100vh - 80px); /* Ajuste conforme altura do header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 260px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

body {
  background: #f4f6f9; /* Cinza moderno */
}

